*{
    margin: 0%;
    padding: 0%;
}
body{
    width: auto;
    height: auto;
    background-image: url("13.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;  
}

.weather{
    width: 55%;
    padding: 10px;
    height: 450px;
    position: absolute;
    left: 50%;
    background-color: rgba(255,255,255,0.2);
    top: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}
.weather input{
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
     padding: 10px;
    border-style: none;
    width: 50%;
    position: relative;
}
#bttn{
    padding: 5px 5px;
    font-size: 20px;
    font-weight: 900;
    margin-left: 15px;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border-style: none;
    cursor: pointer;
    border: 4px solid white;
}
.middle{
    display: flex;
    justify-content: space-between;
}
.info{
    width: 50%;
    height: 120px;
    justify-content: space-evenly;
    margin-top: 32px;
    color: rgb(16, 4, 49);
    text-align: center;
}
.info #city_name{
   font-size: 35px;
}
.info #time{
    font-size: 25px;
 }
 .info h3{
    font-size: 20px;
 }
.upperhalf{
    display: inline-flex;
    margin-top: 32px;
    width: 45%;
    justify-content: space-around;
}
.upperhalf .temp{
    display: flex;
}
.half{
    margin: 10px;
    width: 90%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    left: 5%;
    flex-direction: row;
    color: white;
    position: absolute;
}
.img-container{
   width: 90%;
    display: grid;
   background: rgb(211, 197, 197);
   color: black;
   border-radius: 20px;
}
.img-container h1{
    position: absolute;
    color: black;
}
img{
    width: 100%;
    height: 200px;
}
#nme{
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 20px;
    left: auto;
    margin: 10px 20px;
    font-weight: bolder;
    text-align: center;
}
#long{
    position: relative;
    color: black;
    font-weight: bold;
    top: 50%;
    align-items: center;
    justify-content: center;
}
.half p{
    color: white;
    text-decoration: none;
    font-size: 20px;
   top: -20px;
   position: relative;
}
.half a{
    color: white;
}
.tt{
    font-size: 50px;
}
a {
    font-size: 20px;
    color: yellow;
}
span{
    font-size: 20px;
}
.temp img{
    width: 50px;
    height: 100px;
}
 .halfblock{
     display: grid;
     width: 100%;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     border: 2px solid red;
     height: 50px;
 }
#clouds{
    position: relative;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    top: 45%;
    left: 30%;
    text-decoration-color: black;
    color: black;
}
@media(max-width:999px){
    .weather{
       
        height: 600px;
    }
    .half{
        position: absolute;
        height: 200px;
        top: 65%;
        left: 0%;
        flex-direction: row;
    }
    .half .temp,.half .about_temp{
       height: auto;
    }
    .middle{
        display: block;
        align-items: center;
        justify-content: center;
    }
    #nme{
        font-size: 15px;
    }
    .info, .upperhalf{
        width: 100%;
    }
}
@media(max-width:710px){
  .weather{
      width: 55%;
      height: 600px;
  }
  input{
      font-size: 15px;
  }
  .half{
      position: absolute;
      top: 75%;
  }
}
@media(max-width:576px){
    .weather{
        width: 65%;
        height: 600px;
    }
    input{
        font-size: 15px;
    }
  }
@media(max-width:410px){
    .weather{
        width: 70%;
        height: 600px;
    }
    input{
        font-size: 15px;
    }
    .half{
        top: 75%;
    }
  }   
@media(max-width:382px){
    body{
        height: auto;
        background-size: 160vh;
    }
    .weather{
        width: 70%;
        height: 700px;
        margin-top: 70px;
        margin-bottom: -70px;
    }
    input{
        font-size: 15px;
    }
    .half{
        top: 81%;
    }
  }  
